[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sim2Dpredictr"]
	path = sim2Dpredictr
	url = https://github.com/jmleach-bst/sim2dpredictr
